@require 'settings/breakpoints.styl'

*, ::before, ::after
    box-sizing border-box


html, body, main, main > div[role=main]
    +small-screen()
        height 100% !important
        overflow hidden

.coz-bar-container
    align-items center

.ActionsMenuChip
    max-height 380px

main > div[role=main]
    overflow-y scroll !important